---
layout: base
headText: Click a product to view reviews
---
<button class="button" onclick="window.location.href='/'">Home</button>
<h3>All Products</h3>
{% for module in products %}
   <button class="button" onclick="window.location.href='/products/{{module.Id}}'"><h5>{{ module.Name  }}</h5></button>
{% endfor %}