---
layout: base
headText: Click a product to view reviews
---
<!--This provides a list of Products from the products data file in _data. I am not sure if onclick="window.location.href='/' is the best way of handling the navigation but it seems to work fine.-->
<button class="button" onclick="window.location.href='/'">Home</button>
<h3>All Products</h3>
{% for module in products %}
   <button class="button" onclick="window.location.href='/products/{{module.Id}}'"><h5>{{ module.Name  }}</h5></button>
{% endfor %}